---
layout: default
permalink: /blog/
title: Ken's Ramblings
class: blog
active: blog
excerpt: Ken's ramblings of web development and seo/sem marketing tips and tricks
---

<div class="page Blog">
    <div class="container">

        <div class="text-right subscribe">
            <a href="/feed.xml">Subscribe <span class="zocial-rss"></span></a>
        </div>

        {% for post in site.posts %}
        {% capture curr_date %}{{ post.date | date: "%B %Y" }}{% endcapture %}
        {% if curr_date != prev_date %}
        {% unless forloop.first %}
        </ul>
        {% endunless %}
        <h3>
            {{ post.date | date: "%B %Y" }}
        </h3>
        <ul>
        {% capture prev_date %}{{ post.date | date: "%B %Y" }}{% endcapture %}
        {% endif %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% if forloop.last %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>