 <div id="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-hide" href="/">Ken Kelly</a>
      </div>

      <div class="collapse navbar-collapse" id="navigation">
        <div class="nav navbar-nav">
          <ul class="menu nav navbar-nav">
            <li class="menu-item {% if page.active == "home" %} current-menu-item {% endif %}"><a href="/">Home</a></li>
            <li class="menu-item {% if page.active == "portfolio" %} current-menu-item {% endif %}"><a href="/portfolio">Portfolio</a></li>
            <li class="menu-item {% if page.active == "blog" %} current-menu-item {% endif %}"><a href="/blog">Blog</a></li>
          </ul>
        </div> 
        <div class="nav navbar-nav navbar-right">
          <ul class="menu nav navbar-nav">
            <li class="menu-item {% if page.active == "contact" %} current-menu-item {% endif %}"><a href="/contact">Contact Me</a></li>
            <li class="z-facebook menu-item"><a target="_blank" href="http://www.facebook.com/kenhkelly">Facebook</a></li>
            <li class="z-twitter menu-item"><a target="_blank" href="http://twitter.com/kenhkelly">Twitter</a></li>
            <li class="z-linkedin menu-item"><a target="_blank" href="http://www.linkedin.com/in/kenhkelly">LinkedIn</a></li>
            <li class="z-github menu-item"><a target="_blank" href="http://github.com/kenhkelly">GitHub</a></li>
          </ul>
        </div>
      </div>

    </div><!-- /.container -->
  </nav>
</div>