<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ken Kelly - Web Developer" />
    <meta property="og:description" content="I am a Web Developer &amp; Internet Marketer. I deliver beautifully crafted projects with passion." />
    <meta property="og:url" content="http://kenhkelly.us/" />
    <meta property="og:site_name" content="Ken&#039;s Ramblings" />
    <meta property="og:image" content="http://kenhkelly.us/images/10505194_10152600876132430_5687309096170223867_o.jpg" />

</head>