<div class="signup_widget">
  <h3>Newsletter signup</h3>
  <form action="//formspree.io/ken@kenhkelly.us" method="post">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="_replyto" class="form-control">
    </div>
    <div class="form-group">
      <label for="name">Your name</label>
      <input type="text" name="name" class="form-control">
    </div>
    <input type="hidden" name="_next" value="/thanks/" />
    <input type="hidden" name="_subject" value="New Signup from Kenhkelly.us" />
    <input type="text" name="_gotcha" style="display:none" />
    <button type="submit" class="btn btn-green">Submit</button>
  </form>
</div>